openapi: 3.0.3
info:
  title: WasaPhoto
  description: API documentation for the WasaPhoto project.
  version: 1.0.0
servers:
  - url: https://api.sample.com/v1

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas: 
    user:
      title: "user"
      description: object that uses this app
      type: object
      properties: 
        user_id:
          description: unique identifier for the user. The user name
          type: string
          example: "maria"
          readOnly: false
        
        profil:
          type: array
          items: 
            $ref: '#/components/schemas/profil'
    
   
    post: 
      title: Post
      description: object that user displays on profil
      type : object
      properties: 
        user_id:
          type: integer
        
        picture:
          type: string
          format: binary
          #think about the encoding in the backend 
          description: The image file to upload
                  
        caption: 
           type: string
           description: Additional text associated with the picture
        
        date-time: 
          type: string
          format: date-time
          example: "2024-08-07T14:20:00Z"
          
        like: 
          type: integer
        
        comment: 
          type: string
    
    photo: 
      title: Photo
      description: object that user displays on profil
      type : object
      properties: 
        
        
        picture:
          type: string
          format: binary
          #think about the encoding in the backend 
          description: The image file to upload
                  
        caption: 
           type: string
           description: Additional text associated with the picture
    
    profil: 
      title: "profil"
      description: object that displays content and info from the user such as the user’s photos, number of photo, followers and following
      type: object
      properties:
        user_id:
          type: integer
          #each profil is linked with a user
        profile_pic:
          type: string
          format: binary
          #think about the encoding in the backend 
          description: The image file to upload 
        
        stream:
          type: array
          items: 
            $ref: '#/components/schemas/post'
        
        followers: 
          description: The number of users that follow a certain account
          type: integer
        
        following: 
          description: The number of users a certain account follows
          type: integer
          
        ban:
          description: The number of accounts a user blocked
          type: integer

    
  parameters:
    Userid:
      schema:
        type: integer
        example: 4
        readOnly: true 
      name: Userid
      in : path
      required: true
      description: userid
    
    Postid: 
      schema:
        type: integer
        example: 5
        readOnly: true 
      name: Postid
      in : path
      required: true
      description: Id of the photo
    
    Commentid: 
      schema:
        type: integer
        example: 7
        readOnly: true 
      name: Commentid
      in : path
      required: true
      description: Id of the comment
    
    Userid_1:
      schema:
        type: integer
        example: 8
        readOnly: true 
      name: Userid_1
      in : path
      required: true
      description: a subuser id 
      
security:
  - BearerAuth: []


paths:
  /session:
    post:
      security:
      - BearerAuth: []
    
    
      tags: ["login"]
      summary: Logs in the user
      description: |-
        If the user does not exist, it will be created,
        and an identifier is returned.
        If the user exists, the user identifier is returned.
      operationId: doLogin
      requestBody:
        description: User details
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Maria
                  pattern: 'ˆ.*?$'
                  minLength: 3
                  maxLength: 16
        required: true
      responses:
        '201':
          description: User log-in action successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    
                    type: integer
                    example: 784
        '400': 
          description: Bad Request. Username doesnt fit the description.
        
  
  #updating username  
  /user/{Userid}:
    
    post:
      security:
      - BearerAuth: []
      
      operationId: "SetUserName"
      description: change the unique identifier of a pre-existing user.
      
      parameters:
      - $ref: "#/components/parameters/Userid"
      
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/user"}
      

      responses: 
        "201":
          description: Username Updated successfully
          
        "400":

          description: Bad request. username doesn't exist
        "500": 
            description: Internal Server Error - could be error of authentication 
  
  #upload a photo
  /user/{username}/photo/:
    
    post:
      security:
      - BearerAuth: []
      
      operationId: "Uploadphoto"
      summary: creating a new post 
      description: upload a photo linked to the id of the user.
      
      parameters:
      - $ref: "#/components/parameters/Userid"
      
      requestBody: 
        content: 
          application/json: 
            schema: { $ref: "#/components/schemas/photo"}
      responses: 
        "201":
          description: post created succesfully
          content:
            application/json:
              schema: { $ref: "#/components/schemas/post"}
        
        "400":
          description: Bad Request. username doesnt exist. 
          
        "404": 
          description: wrong photo format
        "500": 
            description: Internal Server Error - could be error of authentication 
    
  #delete post
  /user/{username}/photo/{Postid}:
    delete:
      security:
      - BearerAuth: []  
    
      operationId: "Deletephoto"
      summary: deleting a post
      description: delete a post linked to the id of the user.
      
      parameters:
      - $ref: "#/components/parameters/Postid" 
      - $ref: "#/components/parameters/Userid"
      
      responses:
        "204": { description: photo deleted successfully }
        "404": { description: photo or username not found }
        "500": 
            description: Internal Server Error - could be error of authentication 
  
  #liking/unliking a photo
  /user/{username}/target_user/{target_username}/photo/{Postid}/like:
    
    put:
      security:
      - BearerAuth: [] 
      
      operationId: "likephoto"
      summary: add a like to a users post
      description: increase the like counter by one under the post linked to the users id.
      
      parameters:
        - $ref: "#/components/parameters/Postid" 
        - $ref: "#/components/parameters/Userid"
        
      responses:
        "200":
          description: picture liked. updated count
          content:
            application/json:
              schema:
               
                type: []string
                example: ("jessica", "abel")
        "404": { description: picture not found }
        "500": 
            description: Internal Server Error - could be error of authentication 
        
    delete:
      
      
      tags: ["Unlikephoto"]
      summary: remove a like to a users post
      description: decrease the like counter by one under the post linked to the users id.
      parameters:
        - $ref: "#/components/parameters/Postid" 
        - $ref: "#/components/parameters/Userid"
        
      responses:
        "204": 
          description: picture unliked. updated count
          content:
            application/json:
               schema:
               
                type: []strings
                example: ("jessica", "abel")
        "400": { description: picture or username not found }
        "404": { description: picture wasnt previously liked }
        "500": 
            description: Internal Server Error - could be error of authentication 
  
  #commenting on a photo
  /user/{username}/photo/{Postid}/comment:
    
    post:
      security:
      - BearerAuth: [] 
      
      operationId: "commentPhoto"
      summary: add a comment to a users post
      
      parameters:
          - $ref: "#/components/parameters/Postid" 
          - $ref: "#/components/parameters/Userid"
          
      requestBody: 
        content: 
          application/json: 
            schema:
              type: object
              properties: 
                commontext: 
                  type: string
      
      responses: 
        "200": 
          description: commented
          content:
            application/json:
              schema: { $ref: "#/components/schemas/comments"}
        "404": 
          description: bad request. user or post not found.
        "500": 
            description: Internal Server Error - could be error of authentication 
   
  #uncommenting    
  /user/{Userid}/photo/{Postid}/comment/{Commentid}:
    
    delete:
      security:
      - BearerAuth: [] 
      
      operationId: "uncommentPhoto"
      summary: remove a comment from a users post
      
      parameters:
          - $ref: "#/components/parameters/Postid" 
          - $ref: "#/components/parameters/Userid"
          - $ref: "#/components/parameters/Commentid"
          
      responses:
        "204":  
          description: comment deleted successfully 
          content:
            application/json:
              schema: { $ref: "#/components/schemas/comments"}
        "400": { description: comment not found }
        "404": { description: only authors can delete the comment }
        "500": 
            description: Internal Server Error - could be error of authentication 
  
  #follow a user
  /user/{username}/follow/target_user/{target_username}: 
    
    put:
      security:
      - BearerAuth: [] 
      
      operationId: "followuser"
      summary: follow a user
      description: add this user to the list of users our user follows
      
      parameters:
         - $ref: "#/components/parameters/Userid_1"
         - $ref: "#/components/parameters/Userid"
         
      responses: 
        "200": 
          description: user followed 
        
        "400": 
          description: user doesnt exist
        "500": 
            description: Internal Server Error - could be error of authentication 
          
    
  #get user followers
  /user/{username}/followers/target_user/{target_username}: 
    
    get:
      security:
      - BearerAuth: [] 
          
      operationId: "getfollowers"
      summary: retrive followers 
      description: get a list of followers for this user id. 
      
      parameters:
           
          - $ref: "#/components/parameters/Userid"
          
      responses: 
        "200": 
          description: list of followers
          content: 
            application/json: 
              schema: 
                type: array
                items: { $ref: "#/components/schemas/user" }
        
        "500": 
            description: Internal Server Error - could be error of authentication 
        "404": 
          description: user not found
  
  
  #get user following  
  /user/{username}/following/target_user/{target_username}:
    
    get:
      security:
      - BearerAuth: [] 
          
      operationId: "getfollowing"
      summary: retrive followers 
      description: get a list of followers for this user id. 
      
      parameters:
           
          - $ref: "#/components/parameters/Userid"
      responses: 
        "200": 
          description: list of following
          content: 
            application/json: 
              schema: 
                type: array
                items: { $ref: "#/components/schemas/user" }  
        "500": 
            description: Internal Server Error - could be error of authentication 
        "404": 
          description: user not found
   
  #remove a user from following
  /user/{username}/unfollow/target_user/{target_username}: 
    
    delete:
      security:
      - BearerAuth: []
      
      operationId: unfollowuser
      summary: unfollow user
      description: Remove a user from the following list.
      
      parameters:
         - $ref: "#/components/parameters/Userid_1"
         - $ref: "#/components/parameters/Userid"
         
      responses:
      
        "200": { description: unfollowed }
        
        "500": 
            description: Internal Server Error - could be error of authentication 
  
  #remove a user from followers
 /user/{username}/followers/target_user/{target_username}:
    
    delete:
      security:
      - BearerAuth: [] 
          
      operationId: "removeuser"
      summary: remove user from followers 
      parameters:
           
          - $ref: "#/components/parameters/Userid_1"
          - $ref: "#/components/parameters/Userid"
      
      responses: 
        "200": 
          description: user removed
        "404": 
          description: user not found
        "500": 
            description: Internal Server Error - could be error of authentication 
  
 #ban a user
  /user/{username}/ban/target_user/{target_username}:
    
    put:
      security:
        - BearerAuth: []
      operationId: "banUser"
      summary: Ban a user
      description: Add this user to the list of banned users for the current user
      parameters:
        - $ref: "#/components/parameters/Userid_1"
        - $ref: "#/components/parameters/Userid"
      responses:
        "200":
          description: User banned successfully
          links:
            removeFollower:
              operationId: removeUser
              parameters:
                Userid_1: $request.path.Userid_1
        "400":
          description: User not found
        "404":
          description: Bad request. You cannot ban yourself
        "500":
          description: Internal Server Error - could be an error of authentication

    get: 
      operationId: "getbannedusers"
      
      description: retrive a list of banned users
      parameters:
        - $ref: "#/components/parameters/Userid_1"
        - $ref: "#/components/parameters/Userid"
      responses: 
          "200": 
            description: list retrived
            content:
              application/json:
                schema: 
                  type: array
                  items: { $ref: "#/components/schemas/user" }
  
#unbanuser
  /user/{username}/unban/target_user/{target_username}: 
    
    delete:
      security:
      - BearerAuth: []
      
      operationId: unbanuser
      
      description: Remove a user from the banned list.
      parameters:
         - $ref: "#/components/parameters/Userid_1"
         - $ref: "#/components/parameters/Userid"
      responses:
        "204": { description: unfbanned }
        "404": { description: user not found }
        "500": 
            description: Internal Server Error - could be error of authentication 
  
#get user profil
  /user/{username}/target_user/{target_username}/profile:
    get:
      security:
      - BearerAuth: []
      
      operationId: getuserprofil
      
      description: retriev a users profile contaning all the info. 
      
      parameters:
         
         - $ref: "#/components/parameters/Userid" 
      responses: 
        "200": 
          description: profil retrived
          content: 
            application/json: 
              schema: { $ref: "#/components/schemas/profil" }
        
        "404": 
          description: userid not found. 
        "500": 
            description: Internal Server Error - could be error of authentication 
  
#getstream
  /user/{username}/target_user/{target_username}/stream:
    get:
      security:
      - BearerAuth: []
      
      operationId: getmystream
      
      description: retriev a users' profile contaning all the info. 
      
      parameters:
         
         - $ref: "#/components/parameters/Userid"
      responses: 
        "200": 
          description: profil retrived
          content: 
            application/json: 
              schema: { $ref: "#/components/schemas/profil" }
        
        "404": 
          description: userid in user and userid in profil dont match. 
        "500": 
            description: Internal Server Error - could be error of authentication            
  
  
      
          
      
    
  
      
      
      
    
    
    
        
  
    
      
      

    
      
          
      
    
      
              
      
      
  
  
    
  

